* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

#notification .fa-xmark {
  background: black;
  color: white;
}

body {
  background: #f5f7fb;
  color: black;
  position: relative;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
#notification {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  margin: 0;
  -webkit-box-shadow: 10px -10px 10px rgba(211, 211, 211, 0.3);
          box-shadow: 10px -10px 10px rgba(211, 211, 211, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  -webkit-animation: appear 1s ease 3s forwards;
          animation: appear 1s ease 3s forwards;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  width: 98%;
  position: fixed;
  left: 1%;
  z-index: 1;
}
#notification h2 {
  font-size: 1.8rem;
  font-weight: 800;
  text-decoration: none;
}
#notification p {
  color: gray;
  font-size: 0.88rem;
  font-weight: 500;
  text-decoration: none;
}
#notification a {
  text-decoration: none;
  border-radius: 10px;
  padding: 13px 58px;
  margin: 0;
  background: #3fa3fc;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
#notification .fa-xmark {
  border-radius: 50%;
  padding: 5px 7px;
  margin: 0;
  scale: 0.77;
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: auto;
  left: auto;
  cursor: pointer;
}

aside {
  background: #3a78f2;
  color: white;
  width: 255px;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: auto;
}
aside .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}
aside .wrapper img {
  padding-right: 40px;
}
aside .wrapper nav {
  width: 100%;
}
aside .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
aside .wrapper li {
  list-style: none;
  width: 83%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: auto;
  padding-left: 27px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
aside .wrapper li i, aside .wrapper li a {
  color: #c3d6fb;
  font-size: 0.9rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
aside .wrapper li a {
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 27%;
}

aside > a {
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  background: #3fa3fc;
  color: white;
  width: 81%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: auto;
  border-radius: 5px;
  margin-inline: auto;
  margin-bottom: 37px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
aside > a:hover {
  background: white;
  color: #3fa3fc;
}/*# sourceMappingURL=base.css.map */